development:
    etcd: "http://localhost:4001"
    base: 'cncflora'
    path: ''
test:
    etcd: "http://localhost:4001"
    base: 'cncflora_test'
    path: ''
production:
    etcd: "http://cncflora.jbrj.gov.br/etcd"
    base: 'livro_vermelho'
    path: '/services'
