development:
    etcd: "http://localhost:4001"
    base: 'cncflora'
    base_url: "http://192.168.50.15:9292"
test:
    etcd: "http://localhost:4001"
    base: 'cncflora_test'
    base_url: "http://192.168.50.15:9292"
production:
    etcd: "http://localhost:4001"
    base: 'cncflora'
    base_url: "http://cncflora.jbrj.gov.br/services"
